<p id="notice"><%= notice %></p>

<h1>Books</h1>

<% options = options_from_collection_for_select(@authors, 'id', 'name') %>
<p>filter by author: <%= select_tag :author_id, options, {id: "search"} %></p>

<div id="books_list">
  <%= render 'list' %>
</div>


<br>

<%= link_to 'New Book', new_book_path %>
